*.exe
*.dll
*.pdb
*.cache
*.CopyComplete
*.editorconfig
*.txt
*.targets
*AssemblyAttributes.cs
*.props
*.runtimeconfig.json
*deps.json
*csproj.nuget.dgspec.json
*project.assets.json
*.AssemblyInfo.cs
*.mp3
Music-bat-C#/obj/Debug/
Music-bat-C#/wwwroot/

Music-bat-C#/bin/
Music-bat-C#/Pages/
